@charset "UTF-8";

.exroutine-body {
	text-align: center;
	background-color: white;
	position: relative;
	margin-top: 180px;
}


.container {
	width: 60%;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 세로 방향으로 정렬 */
} 

.exroutine-p {
    text-align: center;
    font-size: 24px; /* 글자 크기 조정 */
    margin-bottom: 30px; /* 아래쪽 여백 조정 */
}


.checkbox-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.checkbox-group label {
	font-size: 18px;
	margin: 20px 100px;
}

.button {
	background-color: black;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	align-self: flex-end; /* 오른쪽 정렬 */
}
.button:hover{
	background-color: darkgrey;
}
hr {
    border: 1px solid #ccc;
    margin: 5px 0;
}