@charset "UTF-8";

/* login-section 전체 레이아웃 */
.login-section {
    background-color: white;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 100px auto; /* 헤더와의 간격을 위한 여백 */
}

/* 로그인 폼 타이틀 */
.login-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* 로그인 입력 필드 */
form input {
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* 로그인 버튼 */
.login-btn2 {
    background-color: #333;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

/* 회원가입 및 로그인 정보 찾기 링크 */
.options {
    margin: 20px 0;
    font-size: 12px;
}

.options a {
    color: #777;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

/* 소셜 로그인 섹션 */
.social-login {
    margin-top: 20px;
}

.social-login p {
    margin-bottom: 15px;
    font-size: 14px;
    color: #777;
}
