@charset "UTF-8";

.request-body {
	position: relative;
	top: 200px;
}

.container {
	width: 60%;
	margin: 0 auto;
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.request-p {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}

label {
	font-weight: bold;
	margin: 0 5px 0 20px;
}

label[for="title"] {
	font-size: 18px;
	margin: 0 10px;
}

input {
	width: 100px;
	padding: 10px;
	margin: 0 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

textarea {
	width: 80%;
	padding: 10px;
	margin: 20px 0 0 30px;
	border: 1px solid #ddd;
	border-radius: 4px;
	resize: none;
}

input[type="button"] {
	background-color: black;
	color: white;
	border: none;
	padding: 10px 20px;
	margin-left: 20px;
	border-radius: 5px;
	cursor: pointer;
}

input[type="button"]:hover {
	background-color: darkgrey;
}

.form-group {
	margin-bottom: 30px;
}

.form-row {
	display: flex;
	align-items: center; /* 세로 정렬 */
}

small {
	display: block;
	color: #666;
}

.form-buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

.already {
	margin-top: 50px;
	margin-bottom: 470px;
}
.success{
	margin-bottom: 100px;
}
.button-container {
	display: flex;
	justify-content: center; /* 수평 중앙 정렬 */
	margin-top: 50px; /* 버튼과 위쪽 요소 간의 간격 조정 */
	margin-bottom: 240px;
}